.link { stroke: #ccc; }
.nodetext { pointer-events: none; font: 10px sans-serif; }

#navigation {
  margin: 0 ;
  padding: 0 ;
  list-style: none ;
  text-align: center ;
}

#navigation li {
  display: inline ;
  margin-right: 1px ;
  color: #fff ;
  background: #2c3e50 ;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background: #2c3e50 ;
  text-decoration: underline ;
}

#navigation li a {
  padding: 4px 20px ;
  background: #34495e ;
  color: #fff ;
  border: none;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
}

body { 
	margin:0;  
	padding:0;  
	background: no-repeat center center fixed; 
	background-color: white;
	background-size : cover;}

.widget{ 
	width: 40%;  
	margin: 20px;
    background-color: white; 
    box-shadow: 0px 0px 5px gray; 
    border-radius: 3px;  
    text-align:center;  
    padding-top: 10px;  
    padding-bottom: 10px;  
    min-height: 400px;
    min-width: 800px;
    }

#main { 
	margin: auto;  
	width: 800;  
	margin-top: 100px; 
    background-color: white; 
    box-shadow: 0px 0px 10px gray; 
    border-radius: 3px;  
    text-align:center;  
    padding-top: 10px;  
    padding-bottom: 40px;  }
h1 { 
	font-family: Open Sans; 
	font-size: 170%; }
h2 { 
	font-family: Gotham; 
	font-size: 170%; }
form { 
	font-family: Gotham;  
	text-shadow: 1px 1px 2px white;  
	text-align: left; }
label { 
	display: block; 
	width: 120px; 
	float:left;  
	margin-left: 130px; 
	position: relative; 
	top: 3px;  }

.submit{ 

    background-color: #bdc3c7;
    text-align:center;  
    padding-top: 10px;  
    padding-bottom: 10px;  
    min-height: 50px;
    min-width: 1240px;
    }

#btsub1 { 
	position:relative;
	width: 150px;  
	color: white;
	background-color: #3498DB;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 4px solid #2980B9;
	border-radius: 5px;
	font-size: 100%; 
	font-family: Gotham;  font-weight:bold; }


#btsub { 
	position:relative;  
	left: 39%; 
	top: 23px; 
	width: 140px;  
	background-color: #3498DB;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 4px solid #2980B9;
	border-radius: 5px;
	color: white;  
	border-radius: 5px;  
	font-size: 110%; 
	font-family: Gotham;  font-weight:bold; }


#btsub:hover { 
	background-color: #3498DB;
	color: white;  
	font-weight: bold;  
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 4px solid #2980B9; 
	border-radius: 5px;
}
.flashed {
	position: relative;
	right:20px;
	list-style-type: none; }
.flashed li {
	font-family: Open Sans; 
	color: white;
	text-align: center;
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 3px;
	box-shadow: 1px 1px 9px gray; }
.succes li {
	background-color: #1abc9c;}
.error li {
	background-color: #e74c3c; }
.fichiers {
	text-align: left;
	list-style-type: circle;
	font-family: Gotham;
