

{% extends 'up_squelette.html' %}

{% block title %}Upload{% endblock %}

{% block main %}
<ul id="navigation">
    
    <li><a href="/upload" title="upload">upload</a></li>
    <li><a href="/d3" title="last added document analysis">last added document analysis</a></li>
    <li><a href="/corpusnet" title="network">network</a></li>
  </ul>
<h1>Choose a text :</h1>
<form action="" method="post" enctype="multipart/form-data" style='position=center'>
    <label for="fic"></label><input id="fic" type="file" name="fic" />

    <!--<label for="pw">Mot de passe</label><input id="pw" type="password" name="pw" />
    <a href="#" class="action-button shadow animate blue">Hello</a>-->
    <input id="btsub" type="submit" value="Upload" style='position=center'/>
</form>

<div class="container">
  <div class="ball"></div>
  <div class="ball"></div>
  <div class="ball"></div>
  <div class="ball"></div>
  <div class="ball"></div>
  <div class="ball"></div>
  <div class="ball"></div>
</div>

{% endblock %}
